/* Reset CSS */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

a,
div,
span,
button {
  outline: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

a {
  color: inherit;
}

a {
  background-color: transparent;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

img {
  border-style: none;
}

img,
object,
embed {
  max-width: 100%;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input[type='button'] {
  width: auto;
  overflow: visible;
}

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

input {
  outline: none;
  border: 0;
  background: transparent;
}

button,
input,
select,
textarea {
  margin: 0;
}

textarea {
  overflow: hidden;
}

input,
select {
  vertical-align: middle;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

ul,
li {
  list-style: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Styles */
wrapper {
  display: flex;
}

:root {
  --sider-width: 180px;
}

#container {
  min-height: 100vh;
  flex: 1;
  margin-left: var(--sider-width);
}

.sidebar {
  width: var(--sider-width);
  height: 100vh;
  background-color: #b8b3b3;
  overflow-y: auto;
  position: fixed;
}

.logo {
  width: 120px;
  height: 120px;
  background-color: #1f3a3d;
  margin: 18px auto;
}

.main-category {
  display: grid;
  gap: 8px;
  margin-left: 20px;
}

.category-item {
  height: 18px;
  width: 80%;
  background-color: #412227;
}

.divider {
  margin: 8px 0;
  width: 75%;
  height: 1px;
  background-color: #7d7f7d;
  margin-left: 14px;
}

.collapse {
  display: grid;
  gap: 8px;
  margin-left: 28px;
}

.collapse-heading {
  height: 24px;
  width: 66%;
  background-color: #063971;
}

.collapse-heading.active {
  background-color: #587246;
}

.collapse-item {
  height: 18px;
  width: 75%;
  background-color: #063971;
}

/* Custom scrollbar */
/* For WebKit-based browsers (Chrome, Safari) */
/* Track */
.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: #b8b3b3;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #39352a;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

.left-header,
.right-section-2 {
  display: flex;
  align-items: flex-end;
}

.left-header > div,
.right-section-2 > div {
  width: 30px;
  height: 15px;
  background-color: #cfd3cd;
}

.right-section-2 > div {
  width: 38px;
}

.left-header > div:not(:first-child),
.right-section-2 > div:not(:first-child) {
  border-left-width: 1px;
  border-color: #282828;
  border-style: solid;
}

.right-header {
  display: flex;
  flex-direction: column;
}

.right-section-1 {
  display: flex;
  margin-bottom: 22px;
  align-self: flex-end;
}

.right-section-1 > div {
  width: 30px;
  height: 15px;
  background-color: #734222;
}

.right-section-1 > div:first-child {
  width: 45px;
  margin-right: 8px;
}

.search-box {
  width: 180px;
  height: 25px;
  background-color: #f8f32b;
  margin-left: 8px;
}

.main {
  min-height: calc(100vh - 78px);
  border-width: 1px;
  border-color: #2271b3;
  border-style: solid;
  padding: 12px 18px;
}

.section-1 {
  height: 100px;
  background-color: #a5a5a5;
}

.section-2 {
  display: flex;
}

.child-1 {
  width: 60%;
  height: 300px;
  background-color: #33694e;
}

.child-2 {
  flex: 1;
  height: 300px;
  background-color: #216ec1;
}

.section-3 {
  display: flex;
  align-items: center;
}

.section-3 > div {
  flex: 1;
  height: 200px;
  background-color: #a553e3;
}

.section-4 {
  height: 160px;
  background-color: #719524;
}

.section-5 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 200px;
  background-color: #be3f70;
}

.section-6 {
  height: 180px;
  background-color: #cd532a;
}

.child-3 {
  width: 30%;
  height: 100%;
  background-color: #cd532a;
}

.child-4 {
  width: 60%;
  height: 100%;
  background-color: #2dcd2a;
}

.footer {
  height: 80px;
  background-color: #b8b3b3;
}

