body {
  margin: 0px;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#banner {
  height: 150px;
  background-color: red;
}

#menu {
  height: 40px;
  padding: 5px;
  background-color: darkcyan;
}

#lmenu {
  width: 150px;
  padding: 10px;
  background-color: green;
  float: left;
}

#content {
  width: 810px;
  padding: 10px;
  background-color: grey;
  float: left;
}

.sp {
  width: 150px;
  padding: 10px;
  background-color: darkcyan;
  margin: 5px;
  float: left;
}
